.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 10%; */
    color:whitesmoke;
    border-bottom: 2px solid #3c3c3c;
    background-color:rgb(20, 1, 1);
}

.logo{
    height: 90px;
}
.navbar .logo{
    width: max(vw,120px);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw,12px);
    padding-right: 6%;
}

.navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.navbar option{
    background-color: black;
    color: white;
}

.navbar button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(78, 162, 231);
    font-size: 1rem;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px){
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
    .navbar button img{
        width: 12px;
    }
}

